@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffebeb;
}

.menu-h {
    background-color: #270327;

}

.menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

.menu-h ul li {
    display: inline;
}

.menu-h ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.menu-h ul li a:hover {
    background-color: #8c67a5;
}

.menu-h ul li:last-child a {
    float: right;
    background-color: #a12f51;
}


.input-box {
    display: flex;
    flex-direction: column;
    margin: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #f7f2f2;
}

.input-box input:focus-visible {
    outline: 1px solid #f24b4b;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffebeb;
    padding: 3rem;
}