@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffebeb;
}

.menu-h {
    background-color: #270327;

}

.menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

.menu-h ul li {
    display: inline;
}

.menu-h ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.menu-h ul li a:hover {
    background-color: #8c67a5;
}

.menu-h ul li:last-child a {
    float: right;
    background-color: #a12f51;
}